<div id="sidebar" class="sidebar closed">
    <div id="close-open" class="close-open">
        <span class="hide-span"><</span>
    </div>
    <div class="home">
        <img src="/icons/adminSidebar/home.svg" alt="home icon">
        <h4>HOME</h4>
    </div>

    <div class="settings">
        <ul>
            <li><a class="" href="/auth/contact"><img src="/icons/adminSidebar/browser.svg" alt=""><h4>Contacto</h4></a></li>
            <li><a class="" href="/auth/adminpanel"><img src="/icons/adminSidebar/add_2.svg" alt=""><h4>Agregar diseño</h4></a></li>
            <li><a class="" href="/auth/portfolio"><img src="/icons/adminSidebar/document.svg" alt=""><h4>Portafolio</h4></a></li>
            <li><a href="/auth/logout"><h4>Cerrar sesión</h4></a></li>
        </ul>
    </div>
</div>
