<nav class="navbar">
    <img src="/img/office.jpg" alt="">
    <span><a href="#">Cordial_SDesign</a></span>
    <div class="nav-items">
        <ul>
            <li><a href="/AboutUs">Sobre nosotros</a></li>
            <li><a href="/Contact">Contacto</a></li>
            <li><a href="/Portfolio">Diseños</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
    <div class="desc">
        <p>✩ Papelería social | Invitaciones | Tags | Tarjetas</p>
        <p>✩ Creación de logotipos</p>
        <p>–Más información por Dm | Tel. | Mail</p>
    </div>
</nav>
