<%-include('./partials/header')-%>
<nav class="navbar">
    <img src="/img/office.jpg" alt="">
    <span><a href="#">Cordial_SDesign</a></span>
    <div class="nav-items">
        <ul>
            <li><a href="/AboutUs">Sobre nosotros</a></li>
            <li><a href="/Contact">Contacto</a></li>
            <li><a href="/Portfolio">Diseños</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
    <div class="desc">
        <p>✩ Papelería social | Invitaciones | Tags | Tarjetas</p>
        <p>✩ Creación de logotipos</p>
        <p>–Más información por Dm | Tel. | Mail</p>
    </div>
</nav>

<div class="about">

    <div class="info">
        <h3>¿Quienes somos?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="info">
        <h3>¿Qué hacemos?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="info">
        <h3>Nuestros objeticos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

</div>
<%-include('./partials/footer')-%>
