<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/authStyles.css">
        <title>Cordial-SDesign</title>
    </head>
    <body>

        <!--Navbar-->
        <nav class="navbar">
            <img src="/img/office.jpg" alt="">
            <span><a href="#">Cordial_SDesign</a></span>
            <div class="nav-items">
                <ul>
                    <li><a href="/auth/signin">Iniciar sesión</a></li>
                    <li><a href="/AboutUs">Sobre nosotros</a></li>
                    <li><a href="/Contact">Contacto</a></li>
                    <li><a href="/Portfolio">Diseños</a></li>
                    <li><a href="/">Inicio</a></li>
                </ul>
            </div>
            <div class="desc">
                <p>✩ Papelería social | Invitaciones | Tags | Tarjetas</p>
                <p>✩ Creación de logotipos</p>
                <p>–Más información por Dm | Tel. | Mail</p>
            </div>
        </nav>

        <!--Section-->
        <main class='main'>
            <section class="title">
                <h1>Bienvenido a cordial design</h1>
            </section>

            <section class="works">

                <div class="work">
                    <div class="img">
                        <img src="/img/tag-3425877_1920.jpg" alt="tag">
                        <h2>Tag design</h2>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="work work-rigth">

                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="img">
                        <img src="/img/empty-3186195_1920.jpg" alt="invitation">
                        <h2>Invitaciones</h2>
                    </div>
                </div>

                <div class="work">
                    <div class="img">
                        <img src="/img/tag-3425877_1920.jpg" alt="Tarjetas">
                        <h2>Diseños de tarjetas</h2>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

            </section>
        </main>

        <footer class="footer">
            <p>Todos los derechos reservados</p>
        </footer>
    </body>
</html>
