<%-include('./partials/header')-%>

<nav class="navbar">
    <img src="/img/workplace.jpg" alt="">
    <span><a href="#">Cordial_SDesign</a></span>
    <div class="nav-items">
        <ul>
            <li><a href="/AboutUs">Sobre nosotros</a></li>
            <li><a href="/Contact">Contacto</a></li>
            <li><a href="/Portfolio">Diseños</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
</nav>
    <div class="portfolio">
        <h2>Portfolio</h2>
        <div class="projects">

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

            <div class="project">
                <img src="/img/tag-3425877_1920.jpg" alt="design">
                <h3>Diseño 1</h3>
            </div>

        </div>
    </div>
<%-include('./partials/footer')-%>
