<%-include('./partials/header')-%>

<nav class="navbar">
    <img src="/img/workplace.jpg" alt="">
    <span><a href="#">Cordial_SDesign</a></span>
    <div class="nav-items">
        <ul>
            <li><a href="/AboutUs">Sobre nosotros</a></li>
            <li><a href="/Contact">Contacto</a></li>
            <li><a href="/Portfolio">Diseños</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
</nav>
    <div class="portfolio">
        <h2>Portfolio</h2>
        <div class="projects">
            <%if(projects){%>
                <%projects.map(i=>{%>
                    <div class="project">
                        <img src=<%= i.imgurl %> alt="design">
                        <h3><%=i.description%></h3>
                    </div>
                <%})%>
            <%}else{%>
                <p style="width:100%; background-color:rgba(252, 49, 49, 0.84);">Sin projectos</p>
            <%}%>

        </div>
    </div>
<%-include('./partials/footer')-%>
