<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/auth/register" method="post">
            <input type="text" name="userName">
            <input type="password" name="password">
            <button>Registrar</button>
        </form>
    </body>
</html>
