*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(242, 237, 237);
}

.signin{
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}

.left-bg{
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(2, 4, 4, 0.65);
}

.left-bg h2{
    width: 100%;
    text-align: center;
    font-weight: normal;
    letter-spacing: .1rem;
    font-size: 2rem;
    color:rgba(224, 149, 37, 0.8);
}

.left-bg > img{
    position: absolute;
    width: auto;
    height: 100%;
    top:0;
    left:-14rem;
    z-index: -1;
}

.form-signin{
    width: 25rem;
    height: 70%;
    margin:0 auto;
    border-radius: .3rem;
    box-shadow: 1rem 1rem 3rem rgba(8, 8, 13, 0.25);
}

.form-signin h3{
    width: 100%;
    font-size: 1.3rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.form-signin form{
    width: 80%;
    height: auto;
    margin:0 auto;
}

.form-signin .form-group{
    width: 100%;
    padding: 1rem 0;
}

.form-signin .form-group label{
    display: block;
    width: 100%;
    margin: 0 2rem;
    margin-bottom: 1rem;
}

.form-signin .form-group input{
    display: block;
    width: 80%;
    margin: 0 2rem;
    padding: .4rem .3rem;
    font-size: 1rem;
    outline:none;
    border:.07rem solid rgba(69, 70, 70, 0.47);
}

.form-signin .form-group input:focus{
    box-shadow: 1rem 1rem 1.3rem rgba(246, 187, 34, 0.19);
    border:.1rem solid rgba(246, 187, 34, 0.19);
}

 .form-group button{
    display:block;
    margin:0 auto;
    padding: .4rem 2rem;
    color:rgba(249, 185, 20, 0.92);
    border:.1rem solid rgba(249, 185, 20, 0.92);
    outline: none;
    cursor:pointer;
}

 .form-group button:hover{
    color:rgba(242, 242, 242, 0.91);
    border:.1rem solid rgba(249, 185, 20, 0.92);
    background-color: rgba(249, 185, 20, 0.92);
    box-shadow: 1rem 1rem 2.3rem rgba(249, 185, 20, 0.5);
}

/* Admin contac */
/* Admin contac */
/* Admin contac */
/* Admin contac */

.contact-content{
    display:flex;
    border:1px solid red;
}

.contact-form{
    width:calc(100% - 20rem);
    border:1px solid blue;
}

.social-networks{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:10rem;
    border:.1rem solid red;
}

.social-networks > img{
    width:7rem;
    margin:0rem 2rem;
    cursor:pointer;
    border-radius:2rem;
    box-shadow:.5rem .5rem 1.2rem rgba(0, 0, 0, 0.26);
    transition:all .3s ease;
}

.social-networks > img:hover{
    transform:scale(1.2);
}

.contact-content > .e{
    background-image:url('/icons/gmail.png');
    padding:2rem 0rem;
}

/***     Admin Panel    ***/
/***     Admin Panel    ***/
/***     Admin Panel    ***/
/***     Admin Panel    ***/
/***     Admin Panel    ***/

.adminpanel{
    display: flex;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    max-height: 100%;
}

/***     Sidebar    ***/
/***     Sidebar    ***/
/***     Sidebar    ***/
/***     Sidebar    ***/
/***     Sidebar    ***/

.sidebar{
    width: 20rem;
    height:100%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 8rem;
}

.home > img{
    width: 2rem;
    margin-bottom: 1rem;
}

.home h4{
    width:100%;
    text-align:center;
    font-weight: normal:bold;
    letter-spacing: .1rem;
    color:rgb(247, 170, 19);
}


.settings{
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    border-radius: .6rem;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.39);
}

.settings ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.settings ul li{
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
}

.settings li a{
    display:flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:rgb(17, 17, 17);
    font-weight: normal;
    padding-left: 1.3rem;
    cursor:pointer;
}

.settings li a:hover{
    box-shadow: 1rem 1rem 3rem rgba(8, 8, 7, 0.3);
}

.settings h4{
    display: block;
    margin-left: 1rem;
}

.settings a > img{
    display: block;
    width: 1.6rem;
}

/***     portfolio    ***/
/***     portfolio    ***/
/***     portfolio    ***/
/***     portfolio    ***/
/***     portfolio    ***/

.portfolio{
    width: 100vw;
    max-width: 100%;
    height:auto;
}

.portfolio h2{
    width: 100%;
    padding: 2rem 2rem;
    margin-top: 10rem;
}

.delete{
    display: none;
    position: absolute;
    top:.4rem; left:.3rem;
    border-radius: .3rem;
    padding: .2rem .2rem;
    background-color: rgb(233, 62, 62);
    color:black;
    text-decoration: none;
    z-index: 30;
}

.update{
    display: none;
    position: absolute;
    top:.4rem; left: 6rem;
    border-radius: .3rem;
    padding: .2rem .2rem;
    background-color: rgb(43, 119, 24);
    color:rgb(6, 8, 6);
    text-decoration: none;
    z-index: 30;
}

.update:hover{
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.404);
    background-color: rgb(36, 133, 44);
}

.delete:hover{
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.404);
    background-color: rgb(212, 50, 50);
}

.portfolio_opc{
    width: 73%;
    margin: 0 auto;
    padding: 3rem 1rem;
}

/*** Admin projects  ***/
/*** Admin projects  ***/
/*** Admin projects  ***/
/*** Admin projects  ***/
/*** Admin projects  ***/

.project{
    position: relative;
    display: flex;
    align-items:flex-end;
    width: 20rem;
    height: 20rem;
    box-shadow: 1rem 1rem 2.5rem rgba(8, 11, 15, 0.521);
    background-color: rgba(3, 7, 8, 0.637);
    color: rgb(238, 238, 238);
    margin: 1rem 1rem;
    cursor: pointer;
    overflow: hidden;
}

.project{
    position: relative;
    display: flex;
    align-items:flex-end;
    width: 20rem;
    height: 20rem;
    box-shadow: 1rem 1rem 2.5rem rgba(8, 11, 15, 0.521);
    background-color: rgba(3, 7, 8, 0.637);
    color: rgb(238, 238, 238);
    margin: 1rem 1rem;
    cursor: pointer;
    overflow: hidden;
}

.project h3{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: .9rem;
    letter-spacing: .1rem;
    font-weight: normal;
    padding: 1rem .5rem;
}

.project > .image{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
    z-index: -2;
    transition: all .3s ease;
}

.project:hover > img{
    transform: scale(1.3);
}

.swiper-slide{
    overflow: hidden;
}

.admin_projects{
    width: 100%;
    height: 16rem;
    margin-bottom: 1.2rem;
}

.showing_projects{
    border:1px solid rgba(17, 17, 17, 0.075);
    border-radius: .3rem;
}

.showing_projects > img{
    display:block;
    margin: 0 auto;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.upload-project{
    width: 100%;
}

.upload-project h2{
    width: 100%;
    padding: 1rem 1.2rem;
}

.upload-project h3{
    width: 100%;
    text-align: center;
}

/* NOTE: Form upload css settings */

.upload-project form{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;
}

.upload-project .form-group{
    width: 50%;
    height: 13rem;
    margin-top: 1rem;
}

.upload-project .form-group label{
    display: block;
    padding: 1rem 0;

}

.select-file{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20% !important;
    margin-right: 7rem;
}

.select-file label{
    margin: 0 0 0 0 !important;
    padding: 0 !important;
    width: 5rem;
    font-size: 3rem;
    text-align: center;
    cursor:pointer;
    color: rgba(255, 160, 34, 0.89);
    border:.3px solid rgba(255, 160, 34, 0.89);
    border-radius: .3rem;
    transition: all .3s ease;
}

.select-file label > img{
    width: 2rem;
}

.select-file label:hover{
    transform: scale(1.1);
    box-shadow: .7rem .7rem 2.3rem rgba(0, 0, 0, 0.29);
}

.upload-project .form-group input[type="file"]{
    display: block;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color:rgba(14, 13, 13, 1);
    text-align: center;
    font-size: .7rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1rem;
    outline: none;
}

.upload-project .form-group input::file-selector-button {
    display: none;
}

.upload-project .form-group textarea{
    width: 100%;
    height: 7rem;
    resize: none;
    outline: none;
    padding: .5rem .5rem;
    color:rgb(11, 11, 11);
    letter-spacing: .1rem;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    border:.05rem solid rgba(9, 10, 10, 0.13);
}

.upload-project .form-group textarea::-webkit-scrollbar{
    width: .8rem;
}

.upload-project .form-group textarea::-webkit-scrollbar-track{
    background-color: rgba(62, 62, 62, 0.09);
}

.upload-project .form-group textarea::-webkit-scrollbar-thumb{
    background-color: rgba(62, 62, 62, 0.19);
    border-radius: 1rem;
    border:.2px solid rgba(250, 159, 22, 0.22);
}

.upload-project .form-group textarea:focus{
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
}


.hide-span{
    display: none;
}

@media only screen and (max-width:860px) {
    .sidebar{
        position: absolute;
        width: 18rem;
        background-color: rgba(243, 242, 242, 0.67);
        z-index: 10;
        transition: all .3s ease;
    }

    .opened{
        left: 0;
    }

    .closed{
        left:-18rem;
    }

    .hide-span{
        display: block;
    }

    .close-open{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        right: -2.5rem;
        top:10rem;
        border:.1rem solid rgb(234, 172, 27);
        border-radius: .5rem;
        box-shadow: .5rem .5rem 1rem rgba(12, 12, 12, 0.35);
        font-size: 2rem;
        font-weight: bold;
        color:rgb(226, 182, 78);
        cursor: pointer;
    }

    .settings{
        background-color: rgba(243, 242, 240, 0.9);
    }

    .settings ul{
        list-style: none;
    }

    .settings li{
        float: right;
        margin-right: 2rem;
    }

    .settings a{
        display: inline-block;
        width: 100%;
        color: rgb(238, 238, 238);
        text-decoration: none;
        transition:all .3s ease;
    }

    .signin{
        flex-direction: column;
        height: auto;
    }

    .left-bg{
        width: 100%;
        height: 50vw;
        margin-bottom: 5rem;
    }

    .left-bg > img{
        top:-2rem;
        left:0;
        width: 100%;
        height: auto;
    }

    .form-signin{
        margin-bottom: 5rem;
    }

    .form-signin h3{
        width: 100%;
        text-align: center;
    }

    /* NOTE: Upload mresponsive settings */

    .select-file{
        width: 100% !important;
        margin: 0 auto;
    }

    .upload-project > h3{
        margin: 2rem 0rem !important;
    }

    .upload-project form{
        width: 90%;
    }

    .upload-project .form-group{
        width: 100%;
    }

    .upload-project  .form-group textarea{
        display: block;
        width: 90%;
        height: 7rem;
        margin: 0 auto;
    }

}

@media only screen and (max-width:500px) {

    .left-bg h2{
        font-size: 1.4rem;
    }

    .form-signin{
        width: 100%;
    }

    /* NOTE: upload form settings */

    .upload-project form{
        width: 100%;
    }

    .upload-project .form-group{
        width: 100%;
    }


    .upload-project > h3{
        padding: 0;
        margin: 2rem 0rem !important;
    }

}
