<%-include('./partials/__header')-%>

    <nav class="navbar">
        <img src="/img/work-1699510_1920.jpg" alt="">
        <span><a href="#">Cordial_SDesign</a></span>
        <div class="nav-items">
            <ul>
                <li><a href="/auth/signin">Iniciar sesión</a></li>
                <li><a href="/AboutUs">Sobre nosotros</a></li>
                <li><a href="/Contact">Contacto</a></li>
                <li><a href="/Portfolio">Diseños</a></li>
                <li><a href="/">Inicio</a></li>
            </ul>
        </div>
        <div class="desc">
            <p>✩ Papelería social | Invitaciones | Tags | Tarjetas</p>
            <p>✩ Creación de logotipos</p>
            <p>–Más información por Dm | Tel. | Mail</p>
        </div>

        <div class="contacts">
            <div class="contact">
                <img src="/icons/gmail.png" alt="contact">
                <h4>example@gmail.com</h4>
            </div>

            <div class="contact">
                <img src="/icons/instagram.png" alt="contact">
                <h4>@cordial_sdesign</h4>
            </div>

            <div class="contact">
                <img src="/icons/whatsapp.png" alt="contact">
                <h4>622 0000000</h4>
            </div>
        </div>

    </nav>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
