<div class="portfolio_opc">

    <div class="admin_projects">

    </div>

    <div class="upload-project">
        <h2>Configuración de portafolio</h2>
        <h3>Subir proyecto</h3>
        <form class="" action="/auth/uploadDesign" method="post" enctype="multipart/form-data">

            <div class="form-group select-file">
                <label for="image"><img src="/icons/add.svg" alt=""></label>
                <input id="image" type="file" name="image">
                <button type="submit" name="button">Agregar</button>
            </div>

            <div class="form-group">
                <label for="desc">Descripción</label>
                <textarea id="desc" name="desc"></textarea>
            </div>
        </form>
    </div>

</div>
