<%-include('./partials/__header')-%>
<div class="upload-project">
    <h2>Configuración de portafolio</h2>
    <h3  style="margin: 5rem 0 5rem 0;">Modificar proyecto</h3>
            <form style="box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.205); border-radius: .2rem;" action="<%=`/auth/updateDesign/${user[0].id}`%>" method="post" enctype="multipart/form-data">
                <div class="form-group select-file">
                    <label for="image"><img src="/icons/add.svg" alt=""></label>
                    <input id="image" type="file" name="image">
                    <button type="submit" name="button">Agregar</button>
                </div>

                <div class="form-group">
                    <label for="desc">Descripción</label>
                    <textarea id="ttt" style="height: 9rem;" id="desc" name="desc"><%=user[0].description%></textarea>
                </div>
            </form>
        </div>
        </body>
        </html>
